# 依赖
node_modules/

# 日志
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PM2
.pm2/

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 操作系统
.DS_Store
Thumbs.db

# 编辑器
.vscode/
.idea/
*.swp
*.swo

# 临时文件
*.tmp
*.temp